.venv
.env
.idea/.gitignore
.idea/BadBreaking.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
src/__pycache__/db.cpython-313.pyc
src/blueprints/__pycache__/gestion.cpython-313.pyc
src/blueprints/__pycache__/reportes.cpython-313.pyc
src/blueprints/__pycache__/ventas.cpython-313.pyc
.gitignore
